<div class="post-meta">
  <time datetime="<%= date_xml(page.date) %>"><%= date(page.date, config.date_format) %></time>
  <% const currentLang = page_lang(page); %>
  <% if (page.categories && page.categories.length) { %>
    <span>
      <%- page.categories.map(function(category) {
        return `<a href="${url_for(localized_taxonomy_url(category.path, currentLang))}">${category.name}</a>`;
      }).join(', ') %>
    </span>
  <% } %>
  <% if (page.tags && page.tags.length) { %>
    <span>
      <%- page.tags.map(function(tag) {
        return `#<a href="${url_for(localized_taxonomy_url(tag.path, currentLang))}">${tag.name}</a>`;
      }).join(' ') %>
    </span>
  <% } %>
</div>
