<section class="content-section">
  <header class="section-heading">
    <h1><%= page.title || config.title %></h1>
  </header>
  <% const currentLang = page_lang(page); %>
  <% const localizedPosts = page.posts ? collection_by_lang(page.posts, currentLang) : posts_by_lang(currentLang); %>
  <%- partial('partials/post-list', { localizedPosts }) %>
</section>
