<section class="content-section content-section-home">
  <div class="section-heading">
    <h2><%= __('ui.latest_tech_posts') %></h2>
  </div>
  <%- partial('partials/post-list', { localizedPosts: posts_by_lang(page_lang(page), 'tech') }) %>
</section>
