<article class="article article-page">
  <header class="article-header">
    <h1><%= page.title %></h1>
    <%- partial('partials/language-switcher') %>
  </header>
  <div class="article-body">
    <%- page.content %>
  </div>
</article>
